$blue: #075b93;
$blued: #2e4055;
$blueb: #1276c8;
@font-face {
  font-family: "Bogle";
  src: url("../../static/fonts/Bogle-Light.woff2") format("woff2"),
    url("../../static/fonts/Bogle-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  ascent-override: 100%;
}

@font-face {
  font-family: "Bogle";
  src: url("../../static/fonts/Bogle-Regular.woff2") format("woff2"),
    url("../../static/fonts/Bogle-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  ascent-override: 100%;
}

@font-face {
  font-family: "Bogle";
  src: url("../../static/fonts/Bogle-Medium.woff2") format("woff2"),
    url("../../static/fonts/Bogle-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  ascent-override: 100%;
}

@font-face {
  font-family: "Bogle";
  src: url("../../static/fonts/Bogle-Black.woff2") format("woff2"),
    url("../../static/fonts/Bogle-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  ascent-override: 100%;
}

@font-face {
  font-family: "Bogle";
  src: url("../../static/fonts/Bogle-Bold.woff2") format("woff2"),
    url("../../static/fonts/Bogle-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  ascent-override: 100%;
}

img,
image {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

html {
  border: 0;
  margin: 0;
}

body {
  border: 0;
  margin: 0;
  font-family: "Bogle";
  height: 100vh;
  overflow: hidden;
  line-height: 1.5;
  background: #fff;
}

.legal {
  background-color: $blued;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  padding: 1rem 1rem 1rem calc(1rem + 40px);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 100;
  overflow: hidden;
  transform: translateY(100%);
  p {
    margin: 6px 10px 6px;
    color: #fff;
    font-size: 14px;
    pointer-events: none;
  }
}

.legal-toggle {
  border: 2px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  z-index: 101;
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.map-wrapper {
  cursor: default;
  .zoomed {
    cursor: move;
  }
  &.is-animating {
    pointer-events: none;
  }
}

#stage,
.map .gatsby-image-wrapper {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  transform: translateZ(0);

  @media (min-aspect-ratio: 8000/4504) {
    height: auto;
  }
}

.gatsby-image-wrapper img[src*="base64"] {
  filter: blur(6px);
}

#stage.locked .overlay-wrapper {
  pointer-events: none;
  &:after {
    content: "";
  }
}

.map {
  transform-origin: 50% 50%;
}

.overlay-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  overflow: visible;
  max-width: 8000px;
  max-height: 4504px;
  min-height: 100vh;
  min-width: 100vw;
  width: auto;
  height: auto;
}

.overlay {
  max-width: 8000px;
  max-height: 4504px;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  overflow: visible;

  #structures {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.25s 0.35s;
  }
  #external {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.25s 0.65s;
  }
  #streetLabels {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.25s;
  }
  #infoMarkers {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.25s 1s;
  }

  &.loaded {
    #structures,
    #external,
    #infoMarkers,
    #streetLabels {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  @media (max-aspect-ratio: 8000/4504) {
    // margin-left: calc( ((8000/4504 * 100vh) - 100vw) / -2 );
  }
}

[id*="quadrant1"],
[id*="quadrant2"],
[id*="quadrant3"],
[id*="quadrant4"] {
  opacity: 0;
  stroke-width: 25px !important;
  stroke: rgba(7, 91, 147, 0.75) !important;
  transition: all 0.4s ease-in-out;
}

[data-quadrant-active="1"] [id*="quadrant1"] {
  opacity: 1;
}
[data-quadrant-active="2"] [id*="quadrant2"] {
  opacity: 1;
}
[data-quadrant-active="3"] [id*="quadrant3"] {
  opacity: 1;
}
[data-quadrant-active="4"] [id*="quadrant4"] {
  opacity: 1;
}

.modal {
  position: fixed;
  background-color: #fff;
  right: 0;
  overflow: auto;
  box-sizing: border-box;
  z-index: 1000;
  cursor: default;

  @media screen and (min-width: 769px) {
    width: 55vw;
    height: 100%;
    padding: 10vmin 6vw;
    top: 0;

    &.full {
      width: 100vw;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
    padding: 6vh;
    bottom: 0;

    &.full {
      min-height: 100vh;
      height: 100vh;
      height: -webkit-fill-available;
      padding: 8vh 2vh 2vh;
      overflow: auto;
      box-sizing: border-box;
      top: 0;
      // max-height: 100vh;
      // display: flex;
      // align-items: center;

      .video-wrapper {
        height: 90vh;
        overflow: auto;
      }
    }
  }

  img {
    max-width: 100%;
  }

  h2 {
    font-weight: normal;
    font-size: 2.2rem;
    margin: 0 0 1rem;

    @media screen and (max-width: 768px) {
      font-size: 1.6rem;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 1.4rem;
    margin: -0.5rem 0 1rem;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  p {
    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  a,
  a:visited,
  a:active {
    color: $blueb;
  }
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 1080px) {
    aspect-ratio: 16/9;
    max-height: 80vh;
    margin: 0 auto;
  }

  .vjs-control-bar,
  .vjs-text-track-display,
  .vjs-loading-spinner .vjs-control-text {
    visibility: hidden !important;
    display: none !important;
  }

  .vjs-poster {
    background-color: transparent !important;
    background-size: cover !important;
  }
}

.video-toggle-sound {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background: none;
  border: 0;
  box-shadow: none;
  padding: 1rem;
  svg {
    width: 20px;
    color: #fff;
  }
}

.video-responsive-wrapper {
  position: relative;
  padding-top: 56.25%;
  background-color: #4084a1;
}

.video-responsive-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.video-responsive-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.video-wrapper iframe {
  pointer-events: none;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  // opacity: 0;
  transition: all 0.75s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-header {
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 4vw 6vw 1rem;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  flex: 1;
}

.video-header-inner {
  width: 100%;
  transform: translateY(30px);
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 4fr 25%;
  min-height: 20vw;
  opacity: 0;
  transition: all 0.6s ease-in-out 0.25s;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.video-header > * {
  position: relative;
  z-index: 5;
}

.video-header:before {
  transition: all 1s ease-in-out 0.5s;
  z-index: 1;
  opacity: 0;
  background-image: linear-gradient(
    #4084a1 0%,
    rgba(64, 132, 161, 0.9) 70%,
    rgba(64, 132, 161, 0) 100%
  );
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 769px) {
  .intro .video-header:before {
    background-image: linear-gradient(
      #4084a1 0%,
      rgba(64, 132, 161, 0.5) 70%,
      rgba(64, 132, 161, 0) 100%
    );
  }
}

.video-header .video-header-inner svg {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  box-shadow: 0 0 0px 3px $blue, 0 0 0px 5px white;
  padding: 1rem;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 25%;
  padding: 0;
  background-size: cover;
  background-position: center;
}

.video-header g path,
.video-header g ellipse {
  // fill: $blue;
  transition: all 0.2s;
  fill: transparent;
}

.video-header g:hover path,
.video-header g:hover ellipse {
  fill: rgba(64, 132, 161, 0.6);
  cursor: pointer;
}

.video-header g.active path,
.video-header g.active ellipse {
  fill: rgba(64, 132, 161, 0.75);
  stroke-width: 4px;
  stroke-opacity: 1;
  stroke: #fff;
}

.video-header h1 {
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  // font-size: 3rem;
  font-size: clamp(2rem, 4vw, 3rem);
  line-height: 1.2;
}

.video-header p {
  margin-top: 0;
  font-size: clamp(14px, 1.5vw, 1.1rem);
}

.video-header a {
  color: #fff;
  font-weight: bold;
  font-style: italic;
}

.video-actions {
  padding: 1rem 6vw 4vw;
  width: auto;
  height: auto;
  flex: 1 0 auto;
  z-index: 5;

  transform: translateY(30px);
  opacity: 0;
  transition: all 0.5s ease-in-out 0.5s;

  h2 {
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: clamp(16px, 2.5vw, 2rem);
    margin: 0 0 1.2rem;
    max-width: 15ch;
    text-shadow: 0 2px rgba(0, 0, 0, 0.5);
    letter-spacing: -0.025rem;
    line-height: 1.3;

    @media screen and (min-width: 769px) and (max-width: 900px) {
      white-space: nowrap;
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
  }

  &.fade-in {
    opacity: 1;
  }
}

.video-action-btn,
.video-explore-btn,
.video-info-toggle {
  font-family: "Bogle";
  padding: 0.6rem 1rem 0.6rem 1rem;
  color: #fff;
  border: 3px solid #fff;
  font-size: clamp(14px, 1.8vw, 1.1rem);
  border-radius: 100px;
  margin-right: 1rem;
  text-rendering: geometricPrecision;
  background: rgba(255, 255, 255, 0.7);
  color: $blueb;
  &:hover {
    background: rgba(64, 132, 161, 0.7);
    border: 3px solid rgba(64, 132, 161, 1);
    color: white;
    cursor: pointer;
  }
}

.video-info-toggle {
  background-color: #075b93;
  color: #fff;
  margin: 2rem auto 0;
  display: block;
  font-size: 1rem;
  &:disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.video-explore-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  span {
    display: block;
    margin-right: 0.5rem;
  }
  svg {
    display: block;
    width: 18px;
    height: 100%;
    padding: 0;
    stroke: $blueb;
  }
}

@media screen and (min-width: 769px) {
  .video-explore-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .video-action-btn,
  .video-explore-btn {
    padding: 0.6rem 1rem 0.6rem 1rem;
    font-size: 0.9rem;
    border: 2px solid #fff;

    &:hover {
      background: rgba(64, 132, 161, 0.7);
      border: 2px solid #fff;
      color: white;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 500px) {
  .video-action-btn,
  .video-explore-btn {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

.video-wrapper:hover .video-actions,
.video-overlay.done .video-actions {
  opacity: 1;
  transform: translateY(0);
}

.video-wrapper:hover .video-overlay,
.video-overlay.done .video-overlay {
  // opacity: 1;
  background: rgba(0, 0, 0, 0.25);
}

.video-wrapper:hover .video-header-inner,
.video-overlay.done .video-header-inner {
  opacity: 1;
  transform: translateY(0);
  // transition: all .5s ease-in-out 1s;
}

.video-wrapper:hover .video-header:before,
.video-overlay.done .video-header:before {
  opacity: 1;
  // transition: all 1s ease-in-out 0s;
}

@media screen and (max-width: 768px) {
  .video-wrapper .video-actions,
  .video-overlay.done .video-actions {
    opacity: 1;
    transform: translateY(0);
  }

  .video-wrapper .video-overlay,
  .video-overlay.done .video-overlay {
    // opacity: 1;
    background: rgba(0, 0, 0, 0.25);
  }

  .video-wrapper .video-header-inner,
  .video-overlay.done .video-header-inner {
    opacity: 1;
    transform: translateY(0);
    // transition: all .5s ease-in-out 1s;
  }

  .video-wrapper .video-header:before,
  .video-overlay.done .video-header:before {
    opacity: 1;
    // transition: all 1s ease-in-out 0s;
  }
}

.video-overlay.intro .video-header {
  text-align: center;
  display: block;
  opacity: 1;
}

@media screen and (min-width: 769px) {
  .video-overlay.intro .video-header h1 {
    font-size: 2.6rem;
  }
}

.video-overlay.intro .video-header p {
  font-size: clamp(14px, 1.5vw, 1rem);
}
.video-overlay.intro .video-header-inner {
  grid-template-columns: 1fr;
}
.video-overlay.intro .video-header br {
  display: none;
}
.video-overlay.intro .video-header-inner svg {
  display: none;
}
.video-overlay.intro .video-actions {
  display: flex;
  justify-content: center;
  // margin-bottom: 5vw;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .video-overlay {
    position: relative;
    background: #4084a1 !important;
    // background: none;
    // color: #000;
  }
  .video-header:before {
    // display: none;
    background-image: linear-gradient(
      rgba(64, 132, 161, 0) 0%,
      rgba(64, 132, 161, 0.9) 50%,
      #4084a1 100%
    );
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
  }
  .video-overlay .video-header-inner svg {
    display: none;
  }
  .video-header .video-header-inner {
    display: flex;
    padding: 1rem 0 0 0;
    // color: #000;
  }
  .video-header {
    background: inherit;
  }
  .video-header h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .video-header p {
    font-size: 0.9rem;
  }
  .video-actions {
    padding: 0 6vw 2rem 6vw;
    // color: #000;
  }
  .video-actions h2 {
    font-size: 1rem;
    // color: #000;
    text-shadow: none;
    max-width: 100%;
  }
  .video-actions button {
    font-size: 0.9rem;
    color: $blue;
    border-color: $blue;
    margin-bottom: 0.4rem;
  }

  .video-overlay.intro .video-header p:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .video-actions button {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem 0.6rem 1rem;
    margin-right: 0.5rem;
  }
}

.video-explore-container {
  z-index: 10 !important;
  display: flex;
  justify-content: flex-end;
}

.video-explore-opts {
  background-color: $blue;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  max-width: 240px;
  position: absolute;
  top: 100%;
  right: 0%;
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, -5px, 0);
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  li {
    list-style: none;
    text-align: left;
    padding: 8px 16px;
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  li:hover {
    background-color: $blueb;
    cursor: pointer;
  }

  &.fade-in {
    pointer-events: all;
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }
}

.modal-gallery {
  position: relative;
  max-width: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  aspect-ratio: 100/57.5;

  .modal-gallery-images {
    position: relative;
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    aspect-ratio: 100/57.5;
  }

  .gatsby-image-wrapper {
    position: absolute !important;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;

    &.active {
      z-index: 10;
      opacity: 1;
    }
  }

  // picture {
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  // }

  img,
  picture {
    min-height: 200px;
    // &:empty {
    background: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    // }
  }
}

.modal-gallery-nav {
  position: absolute;
  width: 100%;
  top: 0%;
  padding-bottom: 56%;
  height: auto;
}

.modal-gallery-nav-prev,
.modal-gallery-nav-next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border: 0;
  background: none;
  cursor: pointer;
  &:focus {
    outline: none;
    opacity: 0.8;
    box-shadow: 0 0 0 2px $blueb;
    border-radius: 2px;
  }
  svg {
    display: block;
  }

  // @media screen and (max-width:1080px) {
  //   top: 100px;
  // }

  // @media screen and (max-width:768px) {
  //   top: 80px;
  // }
}

.modal-gallery-nav-prev {
  transform: translateY(-50%) translateX(-100%);
  left: -1vw;
}

.modal-gallery-nav-next {
  transform: translateY(-50%);
  left: calc(100% + 1vw);
}

.modal-close {
  position: absolute;
  left: 2vw;
  top: 2vw;
  width: 40px;
  height: 40px;
  background-color: $blueb;
  border-radius: 40px;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.25s;
  &:active,
  &:hover {
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.2);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0px 3px 3px rgba(7, 91, 147, 1);
  }
  svg {
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    left: calc(100% - 2vw - 40px);
    width: 40px;
    height: 40px;
  }
}

.modal.full {
  @media screen and (max-width: 768px) {
    .modal-close {
      left: 1rem;
    }
  }
}

.minimap {
  background: rgba(255, 255, 255, 0.8);
  padding: 0px 20px 0px;
  width: 200px;
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 90;
  font-size: 14px;
  max-width: 280px;
  overflow: hidden;
  cursor: default;
  color: $blued;
  h5 {
    margin-bottom: 6px;
    margin-top: 16px;
    font-size: 14px;
  }
  p {
    font-size: 14px;
    margin-top: 0;
  }

  span {
    text-transform: uppercase;
    color: #000;
  }
}

.minimap-header {
  display: flex;
  align-items: center;
  span {
    @supports (-moz-osx-font-smoothing: auto) {
      white-space: nowrap;
      position: relative;
    }
  }
}

.minimap-toggle {
  appearance: none;
  background: none;
  border: 0;
  margin: 16px -10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}

.minimap-toggle-active {
  font-size: 11px;
  margin-left: 5px;
  margin-top: 2px;
  letter-spacing: 0.025rem;
  font-weight: 600;
  font-family: "Bogle";
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}

.minimap-info {
  max-width: 100%;
  margin: 20px 0;
  > div {
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
  }
}

.minimap-content {
  overflow: hidden;
  padding: 1px;
  margin: -1px;
  box-sizing: border-box;
  // height: 0px;
  // opacity: 0;
}

.minimap-squares {
  display: grid;
  height: 200px;
  width: 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-size: 100% 100%;

  &:hover {
    > div {
      background-color: rgba(255, 255, 255, 0.6);

      &:hover {
        background-color: rgba(255, 255, 255, 0);
      }
    }
  }

  .active {
    background-color: rgba(255, 255, 255, 0);
  }

  > button {
    box-shadow: 0 0 0 1px $blueb;
    padding: 0;
    border: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:focus {
      border-radius: 0;
      outline: none;
    }
  }
}

.zoom-controls {
  position: fixed;
  z-index: 100;
  top: calc(1rem + 60px);
  right: 1rem;
  button {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    outline: none;
    background: rgba(255, 255, 255, 0.8);
    border: 0;
    margin: 0.25rem 0 0 0;
    cursor: pointer;
    &[disabled] {
      cursor: default;
    }
    &:hover:not([disabled]) {
      background: rgba(255, 255, 255, 1);
    }
  }

  @media screen and (max-width: 768px) {
    // display: none;
  }
}

.cloud {
  position: absolute;
  pointer-events: none;
  // -webkit-backface-visibility: hidden;
  // transform: translateZ(0);
}

.compass {
  position: fixed;
  top: 1rem;
  right: 0.25rem;
  z-index: 150;
  width: 60px;
  height: 60px;
  transform: rotate(40deg);
  border-radius: 80px;
  // background-color: rgba(255,255,255,.5);
}

.tooltip {
  z-index: 100;
  transform: translateZ(0);

  .tooltip--img {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    transform: scale(1);
    transform-origin: center;
    transform-box: fill-box;
    z-index: 110;
    margin-left: -25px;
    margin-top: -25px;
    transition: opacity 0.15s, transform 0.15s ease-in-out;
    backface-visibility: hidden;
    cursor: info;
    &:hover {
      transform: scale(1.1);
    }
  }

  .tooltip-content {
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
  }

  .tooltip-inner {
    // position: absolute;
    font-size: 54px;
    padding: 60px;
    min-width: 768px;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.8);
    line-height: 1.5;
    max-width: 100px;
    color: #2e4055;
    box-sizing: border-box;

    p {
      margin: 0;
      line-height: 1.5;
    }
    // opacity: 1;
    // visibility: hidden;
    // transition: opacity .35s ease-in-out 0s, visibility 0s;
    // transform: translate(0, 10px);
    // backface-visibility: hidden;
  }

  // &.right.bottom {
  //   .tooltip-inner {
  //     transform: translate3d(0%, 0%, 0);
  //   }
  // }

  // &.right.top {
  //   .tooltip-inner {
  //     transform: translate3d(0%, -100%, 0);
  //   }
  // }

  // &.left.bottom {
  //   .tooltip-inner {
  //     transform: translate3d(-100%, 0%, 0);
  //   }
  // }

  // &.left.top {
  //   .tooltip-inner {
  //     transform: translate3d(-100%, -100%, 0);
  //   }
  // }

  &:hover,
  &:focus,
  &.active {
    .tooltip-content {
      opacity: 1;
    }
  }

  &:focus {
    outline: none;
    .tooltip-inner {
      box-shadow: 0 0 0px 6px #ffb700;
    }
    .tooltip-inner:before {
      display: none;
    }
  }
}

.tooltip-external {
  z-index: 100;

  .tooltip--img {
    width: 220px;
    height: 220px;
    margin-left: -110px;
    margin-top: -110px;
    &:hover {
      transform: scale(1);
    }
  }
  p {
    margin: 0;
  }
  .tooltip-inner {
    padding: 70px;
  }
  .top {
    .tooltip-inner {
      margin-bottom: 135px;
    }
  }
  .bottom {
    .tooltip-inner {
      top: 135px;
    }
  }

  &:hover {
    .tooltip-inner {
      opacity: 1;
      // transform: translate(0, 0px);
      transition: all 0.35s ease-in-out 0.1s;
      // transform: translateY(-10px);
    }
  }
}

.markers {
  pointer-events: none;
}

.marker {
  z-index: 99;
  &.active {
    z-index: 100000;
  }
  > div {
    z-index: 99;
  }
  img {
    z-index: 2;
    position: relative;
    width: 17px;
    transition: all 0.35s ease-in-out;
  }

  &.active {
    > div {
      z-index: 9999;
    }
  }
}

foreignObject {
  overflow: visible;
  display: inline-block;
  pointer-events: none;
}

text.pin,
.pinDiv {
  width: auto;
  display: flex;
  align-items: flex-start;
  transform: scale(1) translateY(0px) translateZ(0);
  transform-origin: bottom left;
  transform-box: fill-box;
  backface-visibility: hidden;
  transition: 0.25s ease-in-out;
}

.pinDiv--content,
.pinDiv--img {
  backface-visibility: hidden;
  transition: all 0.25s ease-in-out;
}

#infoMarkers {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  // foreignObject, .tooltip-inner, image {
  // pointer-events: none;
  // }
}

.zoomed {
  #infoMarkers {
    opacity: 1;
  }
  .tooltip {
    .tooltip-inner {
      min-width: 420px;
      font-size: 28px;
      padding: 40px;
    }
  }
  .tooltip-external {
    .tooltip-inner {
      padding: 80px 50px 60px 50px;
    }
  }

  // .pinDiv {
  //   transform: scale(1) translateY(-100px) translateZ(0);
  //   opacity: 1;
  // }

  // .structure {
  //   &:hover,  &.active_poi, &:focus, &.active {
  //     .pinDiv {
  //       transform: translate3d(0, -10px,0) scale(1);
  //     }
  //     .pinDiv--img {
  //       transform: translate3d(0,0,0);
  //     }
  //   }
  // }

  .pinDiv--flag {
    padding: 12px 12px 10px 24px;
    font-size: 28px;
    left: -10px;
    top: 10px;
    margin-left: -5px;
    // clip-path: polygon(0% 0%, 2px 30%, 2px 60%, 0% 100%, 100% 100%, 100% 0%);
  }
}

.pinDiv--content {
  backface-visibility: hidden;
  z-index: -1;
  opacity: 0;
}

.pinDiv--img {
  transform-box: fill-box;
  height: 110px;
}

.pinDiv--flag {
  padding: 14px 24px 10px 48px;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 14px 30px);
  margin-left: -12px;

  @-moz-document url-prefix() {
    padding: 22px 24px 18px 48px;
  }
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2e4055;
  white-space: nowrap;
  pointer-events: none;
}

#DGTB {
  .pinDiv--flag {
    clip-path: polygon(0 0, 100% 0, 98% 50%, 98% 50%, 100% 100%, 0 100%);
    padding: 12px 28px 10px 18px;
  }
}

.structure {
  path {
    fill: $blueb;
    mix-blend-mode: multiply;
    opacity: 0;
    transition: all 0.25s ease-out;
  }

  cursor: pointer;

  &.bouncing {
    path {
      animation: pulse 1s alternate infinite;
      // fill: #FEB62B;
      // stroke: #FEB62B;
    }
    .pinDiv--img {
      animation: bounce 1s alternate infinite cubic-bezier(0.25, 0.1, 0.25, 1);
      animation-fill-mode: forwards;
      opacity: 1;
      transform: translate3d(0, -20px, 0);
    }
  }

  &.featured {
    path {
      fill: rgba(255, 255, 255, 0.5);
      stroke: #feb62b;
      mix-blend-mode: normal;
      opacity: 1;
    }
    .pinDiv--img {
      animation: bounce 1s alternate infinite cubic-bezier(0.25, 0.1, 0.25, 1);
      animation-fill-mode: forwards;
      opacity: 1;
      transform: translate3d(0, -20px, 0);
    }
  }

  &:hover,
  &.active_poi,
  &:focus,
  &.active {
    path {
      opacity: 0.5;
      fill: #1276c8;
      stroke: #075b93;
      animation: none;
    }
    .pinDiv {
      opacity: 1;
    }
    .pinDiv--flag {
      pointer-events: all;
    }
    .pinDiv--content,
    .pinDiv--img {
      opacity: 1;
      animation: none;
      transform: translate3d(0, -10px, 0);
    }
  }

  &.active_poi {
    .pinDiv--flag {
      opacity: 1;
    }
    &:hover {
      .pinDiv--flag {
        opacity: 1;
      }
    }
  }

  &:focus {
    outline: none;
    path {
      stroke-width: 6;
      opacity: 0.75;
    }
  }
}

.streets {
  z-index: 0;
}

.street-sign-g {
  transform-box: fill-box;
}

.street-sign {
  font-size: 40px;
  white-space: nowrap;
  line-height: 0.1;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 0;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
}

// @media (max-aspect-ratio: 8000/4504) {
//   .overlay {
//     margin-left: calc( ((8000/4504 * 100vh) - 100vw) / -2 );
//   }
// }

@media screen and (max-width: 768px) {
  .minimap {
    display: none;
  }
}

// @media screen and (max-width: 1000px) {
.react-transform-component {
  width: 100vw !important;
}
.react-transform-element,
#stage,
.map,
.map > .gatsby-image-wrapper,
.overlay-wrapper,
.overlay {
  // min-width: 160vw !important;
  // width: 160vw !important;
  // height: unset !important;
  min-width: calc((8000 / 4504) * 100vh);
}
.overlay {
  margin-left: 0;
}
// }

.sniff {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translate3d(-50%, 0%, 0);
  max-width: 90%;
  width: auto;
  background-color: #ffc220;
  color: #000;
  padding: 1rem 2rem;
  z-index: 100;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  height: 56px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 320px;
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0px, 0);
  }
  20% {
    transform: translate3d(0, -20px, 0);
  }
  50% {
    transform: translate3d(0, 0px, 0);
  }
  80% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0, 0px, 0);
  }
}

@keyframes pulse {
  from {
    opacity: 0.25;
  }
  to {
    opacity: 0;
  }
}

#map-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#1276c8, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in, visibility 1s linear 1s;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  &.loaded {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
  }
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe video,
.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
